/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.slide-container {
  max-width: 100%;
  width: 96%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.slide-container h3 {
  display: block;
  font-size: 3vw;
  text-align: center;
  background: #05371a;
  background: repeating-linear-gradient(to right, #7be3a6 0%, #024e22 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-content {
  margin: 0 4vw;
  height: 90%;
  overflow: hidden;
  border-radius: 25px;
}

.swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.productCard {
  width: 88%;
  height: 44%;
  background: #315641;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 2vw;
  transition: all 0.6s ease-out;
}
.productCardContent {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productCardContent img {
  height: 56%;
  object-fit: cover;
  background-size: cover;
  border-radius: 4vw;
  margin-top: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
  filter: drop-shadow(0 0 5px rgba(149, 177, 197, 0.506));
}

.productCard::before {
  content: '';
  position: absolute;
  width: 5vw;
  background-image: linear-gradient(180deg, rgb(115, 224, 81), rgb(203, 191, 22));
  height: 100vw;
  filter: drop-shadow(0px 0px 10px rgba(242, 235, 235, 0.61));
  animation: rotBGimg 6s linear infinite;
  transition: all 0.2s ease-in-out;
} 

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.productCard::after {
  content: '';
  position: absolute;
  background: #1f452f;
  inset:0.4vw;
  border-radius: 2vw;
}

.productCard:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px rgba(0, 181, 39, 0.928));
  background: #306e4a;
}

.productCardContent h4{
  font-size: 1.6vw;
  font-weight: 500;
  width: 90%;
  margin-top: 0.4vw;
  text-align: center;
  min-height: 3vw;
}

.productCardContent .productCardButton {
  --color: #788191;
  --color2: rgb(10, 25, 30);
  padding: 0.4vw 1vw;
  background-color: transparent;
  border-radius: 1vw;
  margin-top: 0vw;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 1.6vw;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .productCardButton::after, .productCardButton::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .productCardButton::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .productCardButton:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .productCardButton:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .productCardButton:hover {
  color: var(--color2);
 }
 
 .productCardButton:active {
  filter: brightness(.7);
  transform: scale(.98);
 }
/* Swiper buttons and bullets */

    
    .swiper-navBtn {
      color: #6E93f7;
      transition: color 0.3s ease;
      filter: drop-shadow(0 0 1vw rgba(33, 161, 246, 0.524));
    }
    
    .swiper-navBtn:hover {
      color: #4070F4;
    }
    
    .swiper-navBtn::before,
    .swiper-navBtn::after {
      font-size: 35px;
    }
    
    .swiper-button-next {
      right: 0;
    }
    
    .swiper-button-prev {
      left: 0;
    }
    .swiper-pagination{
        margin-top: 10vw;
    }
    .swiper-pagination-bullet {
      background-color: #6E93f7;
      opacity: 1;
      height: 2vw;
      width: 2vw;
      
    }
    
    .swiper-pagination-bullet-active {
      background-color: #4070F4;
      filter: drop-shadow(0 0 1vw rgba(33, 161, 246, 0.524));
    }
    
    @media screen and (max-width: 768px) {
      .slide-content {
        margin: 0 10px;
      }
    
      .swiper-navBtn {
        display: none;
      }
    }

    @media screen and (max-width: 1000px) {
      .hotDeals {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    @media screen and (max-width: 600px) {
      .hotDeals {
        display: flex;
        align-items: center;
        width: 100%;
        height: 90vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .slide-container h3 {
        display: block;
        font-size: 5vw;
      }

      .productCardContent h4{
        font-size: 2.6vw;
        font-weight: 500;
        width: 90%;
        margin-top: 0.4vw;
        text-align: center;
        min-height: 3vw;
      }
      
      .productCardContent .productCardButton {
        --color: #788191;
        --color2: rgb(10, 25, 30);
        padding: 1vw 2vw;
        background-color: transparent;
        border-radius: 1vw;
        margin-top: 1vw;
        border: .3px solid var(--color);
        transition: .5s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        font-weight: 500;
        font-size: 1.6vw;
        font-family: 'Roboto', 'Segoe UI', sans-serif;
        text-transform: uppercase;
        color: var(--color);
       }
       
       .productCardButton::after, .productCardButton::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        transform: skew(90deg) translate(-50%, -50%);
        position: absolute;
        inset: 50%;
        left: 25%;
        z-index: -1;
        transition: .5s ease-out;
        background-color: var(--color);
       }
       
       .productCardButton::before {
        top: -50%;
        left: -25%;
        transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
       }
       
       .productCardButton:hover::before {
        transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
       }
       
       .productCardButton:hover::after {
        transform: skew(45deg) translate(-50%, -50%);
       }
       
       .productCardButton:hover {
        color: var(--color2);
       }
       
       .productCardButton:active {
        filter: brightness(.7);
        transform: scale(.98);
       }
    }


    
